<div style="margin-left:auto; margin-right:auto;">

	<div id="jumbotron">
		<div class="col-lg-12">
			<div class="jumbotron">

					<center>
					<div class="row">
							<label>
		               <div id="formtext">
		                	<h1></h1>
		               </div>
						  </label>
					</div>
									
										<div class="row" id="formtext2" >
											<p7><strong>Sign Up Here.</strong></p7>
										
									</div>
									
					<div id="messages" class="row" style="font-size: 14pt"></div>
									
					<div class="row" id="form1">
				      <div class="jumbotron-form jumbotron-center">
				            <form class="form-inline" role="form">
				              

				              <div class="form-group">
				                <label class="sr-only" for="name">Email address</label>
				                <input type="text" class="form-control" id="name" name="name" placeholder="enter name">
				              </div>
				             
				              <div class="form-group">
				                <label class="sr-only" for="email">Email address</label>
				                <input type="email" class="form-control" id="email" name="email" placeholder="enter email">
				              </div>
				              
				              <br />
				              <button type="button" class="btn btn-default" onclick="signup()">Submit</button>
				            </form>
				      </div>
		      </div>

					<div class="row" id="text1">
										<p1>One Experience. One Choiys.</p1>
					</div>
					</center>

			</div>
		</div>
	</div>	


<div class="container" "col-lg-12" id="panelheader">
		<center>
		<h3>Our Mission Is...</h3>
		</center>	
</div>

	<div class="" "row2">



				
							<div class="col-lg-4">
								<div class="panel panel-default">
										<center>
										<p id="panel1">
												<strong style="font-size:30px;color:#EEEEEE;">To create:</strong> an aggregator of all existing streaming video services. Our goal is to bring all your content together into one easy to use platform. 
										</p>	
										</center>
								</div>
							</div>	

							<div class="col-lg-4">
								<div class="panel panel-default">
										<center>
										<p id="panel1">
												<strong style="font-size:30px;color:#EEEEEE;">To revolutionize:</strong> the way you pay for and use live television. We think you should only pay for the channels you want, not the channels we want.
										</p>	
										</center>
							 	</div>
							</div>
			
					
							<div class="col-lg-4">
								<div class="panel panel-default">
										<center>
										<p id="panel1">
												<strong style="font-size:30px;color:#EEEEEE;">To create:</strong> intuitive parental control tools, that will allow parents to customize and shape there child's entertainment experience. 
										</p>	
										</center>
								</div>
							</div>	
									

					
	</div>


<div id="spacer">
</div>
</div>





